<div *ngIf="getCurrentPrice()">
  <hr/>
  <div>
    <input type="button" value="Atualizar" (click)="update()"/>
    <span>Atualizado em {{this.bitcoinService.lastUpdate | date:"full"}}</span>
    <span>{{time()}}</span>
<div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
  </div>
  <hr/>
  <br>
  <h2>Data/hora</h2>
   <br>
  <div>{{this.getCurrentPrice().time.updated}}</div>
   <br>
  <h2>Taxas</h2>
   <br>
  <h3>{{this.getCurrentPrice().bpi.USD.description}}</h3>
   <br>
  <h4>
    <span [innerHTML]="this.getCurrentPrice().bpi.USD.symbol"></span>
    {{this.getCurrentPrice().bpi.USD.rate}}
  </h4>
   <br>
  <h3>{{this.getCurrentPrice().bpi.BRL.description}}</h3>
   <br>
  <h4>
    <span [innerHTML]="this.getCurrentPrice().bpi.BRL.symbol"></span>
    {{this.getCurrentPrice().bpi.BRL.rate}}
  </h4>
  <hr/>
  <table border="1">
    <tr>
      <th>Data/hora</th>
      <th>USD</th>
      <th>BRL</th>
    </tr>
    <tr *ngFor="let price of this.bitcoinService.updateList">
      <td>{{price.timestamp | date:"full"}}</td>
      <td>{{price.USD | currency}}</td>
      <td>{{price.BRL | currency}}</td>
    </tr>
  </table>
</div>